*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: normal;
}

body {
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}

.main {
  display: flex;
  min-height: 100vh;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  background-color: black;
  padding: 20px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  /* font-weight: 10000; */
  border: 1px solid black;
  outline: none;
  border-radius: 50%;
  margin: 3px;
}

.calculator-grid > .button-operation {
  color: white;
  background-color: orange;
}

.calculator-grid > .button-numbers {
  color: white;
  background-color: #313131;
}

.calculator-grid > .span-two {
  border-radius: 60px;
}

.calculator-grid > .button-function {
  color: black;
  background-color: #a0a0a0;
  font-size: 1.5rem;
}

.calculator-grid > button:hover {
  background-color: white;
}

.span-two {
  grid-column: span 2;
}

.output-display {
  grid-column: 1 / -1;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  color: gray;
  font-size: 1.5rem;
}

.current-operand {
  color: white;
  font-size: 2.5rem;
}
